rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null &&
        request.auth.token.email in
          get(/databases/$(database)/documents/settings/admins).data.emails;
    }

    match /projects/{projectId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /bio/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /settings/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /messages/{msgId} {
      allow create: if true;
      allow read, update, delete: if isAdmin();
    }

    match /memories/{memId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
